/* flex box*/
.header,.profile,.name,.info,.info-box,.project-box,.coding-edu,.edu-box,.coding p{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; 
}

/* flex box align item*/
.header,.name,.info-box,.project-box,.profile{
    align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
}

.profile,.info{
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

/* flex box justify content*/
.header,.profile,.name{
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}

.info{
    align-items: flex-start;
    -ms-flex-align-items: flex-start;
    -webkit-align-items: flex-start;
}

.info{
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
}

.project-box,.coding-edu,.coding p,.edu-box{
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.container-fluid{
    padding: 0;
    flex-direction: row;
}

.header{
    height: 250px;
    background-color: rgb(61, 61, 59);
}

.main{
    flex-grow: 1;
}

.self{
    width: 100px;
    height: 100px;
    background-size: 320px auto;
    background-position: 50% 10%;
    border-radius: 100px;
    background-image: url('./icon.png');
}

.name{
    margin-top: 7px;
    margin-bottom: 2px;
    color: white;
    font-family: 'Noto Sans TC';
}

.identity{
    color: rgba(255,255,255,0.7);
}

.info-box{
    
}

.icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
}

.info-box:nth-child(3) .icon{
    background-image: url('./github.png');
    background-position: 47% 60%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.info{
    height: 70%;
    margin-left: 30px;
}

.contact{
    color: white;
    margin-left: 5px;
}

.project{
    padding: 50px 50px;
}

.project h2,.coding h2,.edu h2{
    color: rgb(61, 61, 59);
    font-family: 'Noto Sans TC';
    margin-left: 20px;
    font-size: 24px;
}

.card{
    height: 460px;
    margin: 10px 20px;
    font-family: 'Noto Sans TC';
}

.card p{
    min-height: 97px;
    font-weight: 100;
    text-align: justify;
}

.badge-dark {
    font-weight: 100;
    padding: 0.4rem 0.5rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

#modal-img{
    width: 100%;
}

.close{
    position: absolute;
    right: 0;
    color: white;
}

#modalLabel{
    font-family: 'Noto Sans TC';
}

#skill{
    padding: 0 1rem;
}

#link, #code{
    flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
}

.modal-content{
    border:none;
}

.coding,.edu{
    padding: 30px 70px;
}

.coding h2,.edu h2{
    margin-left: 0px;
    margin-bottom: 16px;
}

.coding p{
    margin: 0 0;
}

.coding-level{
    min-width: 60px;
    font-size:13px;
}
.year{
    width: 135px;
    margin-right: 15px;
}

.coding-edu{
    margin-top: 20px;
}

#language{
    position: absolute;
    right: 10px;
    top:10px;
    background-color: transparent;
    outline: none;
    color: white;
    border:1px solid white;
    border-radius: 15px;
    padding: 5px 7px;
}

#language:hover{
    background-color: rgba(255,255,255,0.1);
}

@media (min-width: 0px)  and (max-width: 768px) {
    .year{
        width: 80%;
    }


    .coding,.edu{
        padding: 30px 40px;
    }

    .project{
        padding: 50px 20px;
    }

    .info{
        width: 100%;
        margin-left: 20%;
        height: 40%;
    }
    .header{
        height: 350px;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
}


