/* flex box*/
.intro,.line-box,.github, .container-fluid,#language,.menu,.header,.profile,.name,.info,.info-box,.project-box,.coding-edu,.edu-box,.coding p,.project h2,.coding h2,.edu h2,.others h2,.record,.school-box{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; 
}

/* flex box align item*/
.intro,.header,.name,.info-box,.project-box,.profile,.project h2,.coding h2,.edu h2,.others h2,.edu-box,#language,.github{
    align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
}

.container-fluid,.profile,.info,.project h2,.coding h2,.edu h2,.others h2,.edu-box,#language{
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

/* flex box justify content*/
.intro,.line-box,.menu,.header,.profile,.name,.coding-edu,.record,.project-box,#language,.github{
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}

.info{
    align-items: flex-start;
    -ms-flex-align-items: flex-start;
    -webkit-align-items: flex-start;
}

.coding p,.info{
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.coding-edu,.project-box{
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.container-fluid{
    padding: 0; 
}

body{
    font-family: 'Microsoft JhengHei';
    background-color: rgba(61, 61, 59,0.2);
}

.header{
    height: 200px;
    background-color: rgba(61, 61, 59,0.95);
}

.menu{
    height: 75px;
    background-color: rgba(61, 61, 59,0.95);
}

.main{
    flex-grow: 1;
    margin-top: 75px;
}

.self{
    width: 100px;
    height: 100px;
    background-size: 320px auto;
    background-position: 50% 10%;
    border-radius: 100px;
    background-image: url('./icon.png');
}

.name{
    margin-top: 7px;
    margin-bottom: 2px;
    color: white;
    font-family: 'Microsoft JhengHei';
}

.identity{
    color: rgba(255,255,255,0.7);
}

.record,.project{
    padding-top: 50px;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    margin-right: 5px;
}



.info-box:nth-child(2) .icon{
    background-image: url('./gmail.png');
    background-position: 50% 50%;
    background-size: 60%;
    background-repeat: no-repeat;
}

.info-box:nth-child(1) .icon{
    background-image: url('./call-answer.png');
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.github .icon{
    background-image: url('./github2.png');
    background-position: 47% 60%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.info{
    height: 70%;
}

.contact{
    color: rgb(61, 61, 59);
    margin-left: 5px;
    font-size: 14px;
}

.project{
    padding: 50px 50px;
}

.project h2,.coding h2,.edu h2,.others h2{
    color: rgb(61, 61, 59);
    font-family: 'Microsoft JhengHei';
    font-size: 27px;

}

.coding h5,.edu h5,.contact-info h5{
    color: rgb(61, 61, 59);
    font-family: 'Microsoft JhengHei';
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    height: 460px;
    margin: 10px 20px;
    font-family: 'Microsoft JhengHei';
    border: none;
    border-radius: 0;
}

.card-body{
    position: relative;
}

.coding .card,.edu .card,.contact-info .card{
    width: 290px;
    height: 350px;
}

.edu .card{
    width: 290px;
}

.card p .project-box{
    min-height: 97px;
    font-weight: 100;
    text-align: justify;
}

.badge-dark {
    font-weight: 100;
    padding: 0.4rem 0.5rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

#modal-img{
    width: 100%;
}

.close{
    position: absolute;
    right: 0;
    color: white;
}

.open{
    width: 40%;
    margin-left: 22%;
    position: absolute;
    bottom: 20px;
}

#modalLabel{
    font-family: 'Microsoft JhengHei';
}

#skill{
    padding: 0 1rem;
}

#link, #code{
    flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
}

.modal-content{
    border:none;
    max-height: 90vh;
    overflow-y: auto;
}

.coding,.edu, .contact-info{
    padding: 30px 0px;
}

.coding h2,.edu h2{
    margin-left: 0px;
    margin-bottom: 16px;
}

.coding p{
    margin: 0 0;
    color: white;
}

.coding-level{
    min-width: 60px;
    font-size:13px;
}
.year{
    margin-right: 15px;
}

.coding-edu{
    padding-top: 20px;
}

.edu-box{
    color: rgb(61, 61, 59);
    text-align: center;
}

#language{
    position: fixed;
    right: 5px;
    bottom:10px;
    color: rgb(61, 61, 59);
    border-radius: 40px;
    padding: 10px;
    z-index: 2;
    font-weight: 700;
}

#language button{
    position: relative;
    width: 40px;
    height: 70px;
    background-color: rgb(61, 61, 59);
    outline: none;
    border: none;
    color: white;
    padding: 5px 5px;
    border-radius: 40px;
}

#language #circle{
    position: absolute;
    top: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 40px;
    transition: top ease-in-out 0.5s;
}

.card-img-top{
    border-radius: 0;
    height: 216px;
}

.line-box{
    width: 100%;
}

.line{
    background-color: rgb(61, 61, 59);
    width: 80px;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 17px;
}

.others-box{
    color: rgb(61, 61, 59);
    text-align: center;
}

.link-btn{
    background-color: transparent;
    border: 0.5px solid rgb(61, 61, 59);
    color: rgb(61, 61, 59);
    border-radius: 5px;
    padding: 10px;
    max-width: 80vw;
    margin-top: 5px;
    outline:none;
}

.link-btn:hover{
    background-color: rgba(255,255,255,0.2);
}

.project-btn:nth-child(1) {
    background-color: rgba(225,157,41,1);
}

.project-btn:nth-child(2) {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.menu{
    position: absolute;
    top:200px;
    z-index: 2;
    width: 100%;
}

.menu button{
    border: none;
    outline: none;
    width: 180px;
    margin: 15px 10px;
    padding: 0px 5px;
}

.intro{
    width: 100%;
    padding: 30px 0;
}

.intro div{
    width: 350px;
}

.intro p{
    text-align: center;
}

@media (min-width: 0px)  and (max-width: 768px) {

    .coding,.edu{
        padding: 30px 0px;
    }

    .project{
        padding: 50px 20px;
    }

    .menu{
        top:180px;
    }

    .info{
        width: 100%;
        margin-left: 5%;
        height: 40%;
    }
    .header{
        height: 180px;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

    .project-box{
        justify-content: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
    }

    #language{
        right: 0.5px;
    }
}


